{
  "presets": ["env", "react"],
  "plugins": [
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true,
      "moduleName": "babel-runtime"
    }],
    "transform-class-properties",
    ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }]
  ]
}