{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins":[
    "react",
    "jsx-a11y",
    "import"
  ],
  "rules": {
    "import/no-extraneous-dependencies": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types": 0,
    "react/no-array-index-key": "off",
    "import/no-unresolved": "off",
    "no-multiple-empty-lines": ["error", {"max": 1} ],
    "indent": ["error", 2]
  }
}